<div>
  <div><h1>Available Services</h1></div>
  <div><hr /></div>
  <div>
    <ol>
      <li>
        Payments
        <ul>
          <li>C2B Intrabank</li>
          <li>B2C Intrabank</li>
          <li>B2C Interbank</li>
          <li>C2C Intrabank</li>
          <li>Interbank SWitch</li>
        </ul>
      </li>
      <li>
        Card Issuance
        <ul>
          <li>Card Delivery API</li>
          <li>Agency Card Issuance</li>
          <li>PIN Change/Retrieval</li>
          <li>Fintech Wallet Card</li>
        </ul>
      </li>
      <li>
        Virtual Accounts
        <ul>
          <li>Aggregator API</li>
          <li>Direct Acquisition</li>
        </ul>
      </li>
      <li>
        Recurring Payments
        <ul>
          <li>FCMB Transfers</li>
          <li>Interbank Transfers</li>
          <li>Bills Payments</li>
        </ul>
      </li>
      <li>
        Consent API
        <ul>
          <li>Consent on Transfer</li>
          <li>Consent on Balance</li>
          <li>Consent on Statement</li>
        </ul>
      </li>
      <li>
        Agency Banking API
        <ul>
          <li>Cash out with OTP</li>
          <li>Cash out with Token</li>
          <li>Cash out with USSD PIN</li>
        </ul>
      </li>
      <li>
        Digital Bank API
        <ul>
          <li>Account on Dedicated Scheme Code</li>
          <li>Account Balance API</li>
          <li>Account Statement API</li>
          <li>Intrabank Transfer API</li>
          <li>Lien API</li>
          <li>PND API</li>
          <li>Interbank API</li>
        </ul>
      </li>
    </ol>
  </div>
</div>
