<div>
  <div>
    <h1>Rates</h1>
    <div><hr /></div>
    <h5>Rates Endpoints</h5>
    <br />
    <div>
      <h6>
        <strong>/api/Rates/v1/GetCurrencyFCYRates - POST </strong>
      </h6>
      <br />
      <p>Sample Request:</p>
      <div class="code-wrapper">
        POST https://devapi.fcmb.com/Rates/api/Rates/v1/GetCurrencyFCYRates
        HTTP/1.1 <br />
        client_id: 250 <br />
        Content-Type: application/json <br />
        Cache-Control: no-cache <br />
        Ocp-Apim-Subscription-Key: 32e9c71e2f3b45a3a248f43e32bdbe1e <br />
        {{ "{" }} <br />
        "currency": "string", <br />
        "currencyEquivalent": "string", <br />
        "currencyType": "string" <br />
        }
      </div>
      <p>Response:</p>
      <div class="code-wrapper">
        HTTP/1.1 <span style="color: limegreen">200 OK</span> <br />
        {{ "{" }} <br />
        "rate": 0, <br />
        "status": false, <br />
        "code": "94", <br />
        "description": "No Records Found" <br />
        }
      </div>
    </div>
  </div>
</div>
