<div>
  <div><h1>Introduction</h1></div>
  <div><hr /></div>
  <div>
    <p>
      This document describes the various APIs available on the FCMB Developer
      Portal that help our business partners perform various banking operations
      like account tracking and sale of products.
    </p>
    <br />
    <p>For any business inquiries, kindly send an email to :</p>
    <br />
    <p>
      If you have any technical issue in the course of integration, please send
      an email to:
    </p>
    <!-- <br /><br /><br /><br /><br />
    <div>
      <a class="navbutton" [routerLink]="['/availableservices']">
        <div style="float: left">Next</div></a
      >
    </div> -->
  </div>
</div>
