<div>
  <h1>Getting Started</h1>
  <div><hr /></div>
  <div>
    <p>
      Follow the following steps in order to gain access to our microservices
      and APIS:
    </p>
  </div>
  <div>
    <ol>
      <li>
        Visit
        <a
          href="http://devportal.fcmb.com"
          target="_blank"
          rel="noopener noreferrer"
          >FCMB developer’s portal</a
        >
        and click on Sign Up to register

        <ul>
          <li>
            <img
              style="width: 50vw"
              src="assets/images/landingpage.jpg"
              alt="FCMB Dev Portal Landing Page"
            />
          </li>
        </ul>
      </li>
      <li>
        Fill the form. <br />
        You should receive a welcome email after the form is submitted and you
        need to activate your profile with from the email.

        <ul>
          <li><img src="assets/images/signupform.png" alt="SignUp Form" /></li>
        </ul>
      </li>
      <li>
        Click on sign in and enter your credentials.
        <ul>
          <li>
            <img src="assets/images/signinform.png" alt="Sign In Form" />
          </li>
        </ul>
      </li>
      <li>
        Click on Products to see the list of products available. Except
        otherwise communicated, the two products of interest for now is BAAS and
        Open Banking. <br />
        <strong>Open Banking</strong> product is for FinTechs or super agents
        who needs access to APIs to enable FCMB customers carry out transactions
        on their channels or enable the Fintech to have access their own
        accounts for statement, balance and transactions. <br />
        <strong>BaaS product</strong> is for FinTechs that are interested in
        owning a banking relationship where a scheme code is allocated for them
        to open accounts and transact with those accounts through our API. This
        means they open account for third parties and also facilitate
        transactions on those accounts.

        <ul>
          <li>
            <img src="assets/images/profuctlist.png" alt="Product List" />
          </li>
        </ul>
      </li>
      <li>
        Our APIs requires subscription before they can be utilized by the
        clients. <br />
        Enter your subscription name and click subscribe

        <ul>
          <li>
            <img
              src="assets/images/apisubscription.png"
              alt="Product Subscription"
            />
          </li>
        </ul>
      </li>
      <li>
        Once subscription is completed, you will be routed to the subscription
        window where you see your list of subscriptions and their status. If the
        state remains submitted, it means the profile is yet to be activated by
        the bank.
        <ul>
          <li>
            <img
              id="bigger-images"
              src="assets/images/subscriptionwindow.png"
              alt="Subscription Window"
            />
          </li>
        </ul>
      </li>
      <li>
        From the product API list, the client can select any desired API and
        click try it for a trial.
        <ul>
          <li>
            <img
              id="bigger-images"
              src="assets/images/productAPIlist.png"
              alt="List of APIs in the Product"
            />
          </li>
        </ul>
      </li>
    </ol>
  </div>
</div>
