<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<div class="m-wrapper">
  <div class="m-sidebar">
    <div>
      <a
        [routerLink]="['/']"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >FCMB API Documentation
      </a>
    </div>
    <div>
      <a [routerLink]="['/availableservices']" routerLinkActive="active"
        >Available Services</a
      >
    </div>
    <div>
      <a [routerLink]="['/gettingstarted']" routerLinkActive="active"
        >Getting Started</a
      >
    </div>
    <div>
      <a [routerLink]="['/testparameters']" routerLinkActive="active"
        >Test Parameters</a
      >
    </div>
    <div>
      <a [routerLink]="['/authentication']" routerLinkActive="active"
        >Authentication</a
      >
    </div>
    <br /><br />
    <div id="subheading">Our APIs</div>
    <div>
      <a [routerLink]="['/accountinquiry']" routerLinkActive="active"
        >Account Inquiry</a
      >
    </div>
    <div>
      <a [routerLink]="['/accountmanagement']" routerLinkActive="active"
        >Account Management</a
      >
    </div>
    <div>
      <a [routerLink]="['/accountopening']" routerLinkActive="active"
        >Account Opening</a
      >
    </div>
    <div>
      <a [routerLink]="['/bvnbiometrics']" routerLinkActive="active"
        >BVN Biometrics</a
      >
    </div>
    <div>
      <a [routerLink]="['/bvnvalidation']" routerLinkActive="active"
        >BVN Validation</a
      >
    </div>
    <div>
      <a [routerLink]="['/urlconfig']" routerLinkActive="active"
        >Callback URL Config</a
      >
    </div>
    <div>
      <a [routerLink]="['/cimg']" routerLinkActive="active"
        >CIMG - Airtime and Data Vending</a
      >
    </div>
    <div>
      <a [routerLink]="['/interbanktransfer']" routerLinkActive="active"
        >Interbank Transfer API</a
      >
    </div>
    <div>
      <a [routerLink]="['/intrabanktransfer']" routerLinkActive="active"
        >Intrabank Transfer API</a
      >
    </div>
    <div>
      <a [routerLink]="['/rates']" routerLinkActive="active">Rates</a>
    </div>
    <div>
      <a [routerLink]="['/sctransfer']" routerLinkActive="active"
        >SC Transfer</a
      >
    </div>
    <div>
      <a [routerLink]="['/statementapi']" routerLinkActive="active"
        >Statement API</a
      >
    </div>
    <div>
      <a [routerLink]="['/utilityinquiry']" routerLinkActive="active"
        >Utility Inquiry</a
      >
    </div>
  </div>
  <div class="m-content1">
    <router-outlet></router-outlet>
  </div>
  <div class="m-content2"></div>
</div>
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
