<div>
  <h1>BVN BIometrics</h1>
  <div><hr /></div>
  <h5>BVN Biometrics Endpoints</h5>
  <br />
  <div>
    <h6>
      <strong>Validate BVN By FingerPrint</strong>
    </h6>
    <br />
    <p>Sample Request:</p>
    <div class="code-wrapper">
      POST http://devapi.fcmb.com/bvnbiomentric/BVN/ValidateBvnByFingerPrint
      HTTP/1.1 <br />

      Content-Type: application/json <br />
      Cache-Control: no-cache <br />
      Ocp-Apim-Subscription-Key: 32e9c71e2f3b45a3a248f43e32bdbe1e
    </div>
    <p>Response:</p>
  </div>
</div>
